.header{
	background-color:teal;
	
}
.wrapper{
	width:70%;
	margin:auto;
}
.header .header-fc{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.header .header-fc .header-left{
	width:180px;
	height:60px;
	background-color:olive;
	text-align:center;
	padding:10px;
}
.header .header-fc .header-right{
	width:180px;
	height:60px;
	background-color:olive;
	text-align:center;
	padding:10px;
}
.name{
	background-color:maroon;
	opacity:0.6;
	height:200px;
	display:flex;
	align-items:center;
	text-align:center;
	font-size:65px;
	font-family:verdana;
}
.wrapper{
	width:70%;
	margin:auto;
}
.name .name-fc{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
.banner{
	background-color:lightseagreen;
	
}

.banner.banner-fc{
	display:flex;
	justify-content:space-between;
    flex-wrap:wrap;
}
.banner-fc .image{
	width:30%;
	height:120px;
	background-color:lightgray;
    text-align:center;
	padding-top:50px;
	margin-top:10px;
}
.copyright{
	background-color:teal;
}

.wrapper{
	width:70%;
	margin:auto;
}
.copyright.copyright-fc{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.copyright .copyright-fc .copyright-heading{
	
	width:180px;
	height:60px;
	text-align:center;
	padding-top:20px;
	font-size:25px;
	margin:10px;
}